.DS_Store
/node_modules/
/build
/dist
/target
/packages/cadmium/target
/packages/cadmium/bench-*-report
**/.svelte-kit
/package
*.env*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.turbo
/.pnpm-store/
**/*.obj
**/*.step
.vscode
