{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte"],
	"semi": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.js",
			"options": {
				"semi": false
			}
		}
	]
}
